{%extends 'base.html'%}
{% load static %}

{%block content%}

 <style>
.body{
    margin:0;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    align-content: space-between;
    justify-content: start;
}
.info-card{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    align-items: center;
}
.info-card h3 {
    font-size: 20px;
}
.info-card p {
    border: 2px solid aqua;
    padding: 6px;
    background-color: aquamarine;
    border-radius: 16px;
    
}
.top-skills{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    font-size: 2em;
}
.other-skills{
    border: 2px red solid;
    flex-direction: row;
    flex-basis: 0;
    margin-right: 20px;
}
.project-container{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    text-decoration: none;
}
.project-card{
    max-width: 300px;
}
.layout {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.layout > .column.column--1of3 {
    flex-basis: 30%;
  }
  .layout > .column.column--2of3 {
      flex-basis: 55%;
  }
  .layout > .column {
      margin-bottom: 3rem;
  }
.text-center {
    text-align: center;
}
.container {
    width: 92%;
    max-width: 165rem;
    margin: 0 auto;
    box-sizing: border-box;
}
.card_body{
  padding: 36px;
}
.my-md {
    margin: 3rem auto;
}
.profile .card > .dev {
    padding: 4rem;
    box-sizing: border-box;
}
.settingsPage .dev > .settings__btn {
    display: inline-block;
    margin-bottom: 3rem;
}
.settings__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #2d2d39;
}
.tag:not(:last-child) {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}
.tag--main, .tag--main > small {
    background: #e6faff;
    color: #5aa5b9;
    font-weight: 500;
}
.tag--pill {
    border-radius: 5rem;
    background: rgb(247, 197, 164);
}
.tag{
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: .2rem 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}
.devInfo__title, .devInfo__subtitle {
    font-size: 1.9rem;
    color: #2d2d39;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
.dev__title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
}
.dev__name {
    color: #2d2d39;
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.dev__avatar{
   display: block;
   margin: auto;
   line-height: 1.6;
}
.avatar--xl {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: 2px solid #5aa5b9;
    object-fit: cover;
}
.dev__location {
    margin-top: 1rem;
}
.tag--lg {
    padding: 0.8rem 3rem;
    font-size: 1.4rem;
}
.tag--sub, .tag--sub > small {
    background: #ededfd;
    color: #51546e;
    font-weight: 500;
}
.tag--pill {
    border-radius: 5rem;
}
.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.settings__table {
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding: 0 3rem;
    background: #fffefd;
}
.message-tag{
    border: 1px hsl(29, 88%, 48%) solid;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 1.5em;
}
.prof-project-section{
    margin-left: 5%;
}
.top-skill-tag{
    font-size:0.75em;
    font-weight: 700;
    color:hsl(29, 88%, 48%);
}
.other-skill{
    margin-top: 1em;
}
.top-skill{
    margin-top: 1em;
}

h1,h2,h3{
    font-size: 1.25em;
}
a{
    color: tomato;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #DF8549;
}
.container{
    margin-top: 2em;
    margin-bottom: 2em;
}
.question-card{
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 169, 110, 0.5);
    max-width: 95%;
    margin: 0 auto;
    border: 0.5px solid  rgba(241, 169, 110, 0.966);
    padding: 1.5em 3em;
    gap: 0.8em;
    border-radius: 16px;
}
.read-more{
    display: flex;
    /* align-self: center; */
}
.read-more__button{
    padding: 1em 6em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color:  tomato;
    border: 0.9px solid  rgba(241, 169, 110, 0.966);
    font-size: 1em;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    width: 100%;
}
.read-more__button:hover{
    opacity: 0.5;
}
.author_name, .question-section{
    border-bottom: 0.8px solid rgba(241, 169, 110, 0.966);
    padding-bottom: 1em;
}
.tag-section{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.tags{
    padding: 0.5em 1em;
    border: 0.8px solid rgba(241, 169, 110, 0.966);
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: 600 ;
    color: tomato;
}
.read-more__link{
    color: white;
}
.read-more__link:hover{
    color: white;
}
@media(max-width:630px){
    .question-card{
        max-width: 100%;
    }
}

</style>
<main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl dev__avatar" src="{{profile.imageURL}}" />
              <h2 class="dev__name">{{profile.name}}</h2>
                <p class="dev__name" style="font-size: 1em;" >({{profile.position}})</p>

              <p class="dev__title"></p>
              <p class="dev__location">Based in {{profile.location}}</p>
              <p class="dev__location"><b>{{profile.short_intro}}</b></p>
              {% if profile.marksheet %}
              {% comment %} <a href="{% static profile.marksheet.url %}"><i class="fas fa-eye"></i>Latest Marksheet</a> {% endcomment %}
              <small class= "message-tag"><a href="{% static profile.marksheet.url %}">Marksheet</a></small> </br></br>

              {% endif %}
              
              {% if profile.resume %}
              {% comment %} <a href="{% static profile.resume.url %}"><i class="fas fa-eye"></i>Latest Marksheet</a> {% endcomment %}
              <small class= "message-tag"><a href="{% static profile.resume.url %}">Resume</a></small> </br></br>

              {% endif %}
              <small class= "message-tag"><a href="{%url 'send-message' profile.id%}">Message</a></small>
              <ul class="dev__social">

              </ul>
            </div>
          </div>
        </div>
        
    </div>

    <div class="other-info">
        <h2>{{profile.username}}</h2>
        <P>{{profile.bio}}</P>
        

        <h1  class = 'top-skill'>TOP SKILLS</h1>
        {%for skill in topSkills%}
        <span class="top-skills">
            <small class="top-skill-tag">{{skill}}</small>
            <small>{{skill.discription}}</small>
        </span>
        {%endfor%}

        <h1 class = 'other-skill'>OTHER SKILLS</h1>
        {%for skill in otherSkills%}
        <span class="tag  ">
            <small class= "skill-tag">{{skill}}</small>
          </span>
        {%endfor%}

        

  </main>

<section class="prof-project-section">
<h1> User Projects</h1>
<div class="project-container">
 {%for project in project%}
    <a href="{% url 'projects' project.id %}">
        <div class="project-card">
            <img width="300px" src="{{project.imageURL}}" alt="">
            <h1>{{project.title}}</h1>
            <p>{{project.discription|slice:"150"}}</p>
        </div>
    </a>
    {%endfor%}
</div>
</section>
<hr>

<div class="disc-section">
    {% for discussion in discussion %}
    <div class="container">
        <section class="question-card">
            <span class="author_name">By <a href="{% url 'user-profile' discussion.owner.id %}"> {{discussion.owner}} </a></a></span>
            <article class="question-section">
                <span class="question-title"><h2> {{discussion.title}} </h2></span>
                <span class="question-detail">{{discussion.discription}}</span>
            </article>
            <a href="{% url 'single-discussion' discussion.id %}" class='read-more__link'>
                <span class="read-more">
                     <button class="read-more__button">Read More</button>
                </span>
                 </a>
        </section>
    </div>
    {% endfor %}
</div>

{%endblock content%}