{% extends 'base.html' %}

{% block content %}
<style>
.box{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 15% auto;
    background-color: hsl(24, 70%, 58%);
    border-radius: 12px;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 30px;
}
.body{
    max-width: 75%;
}

</style>
<div class="box">
    <section>{{message.owner.name}}</section>
    <section class="title"><b>{{message.subject}}</b></section>
    <section class="body">{{message.body}}</section>
    
</div>


{% endblock  %}