<style>
a:hover{
    color:black;
}
.pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.pag-btn{
    background-color: hsl(24, 70%, 58%);
    padding: 6px 12px;
    border-radius: 6px;
    color:white ;
}
.pag-btn-on{
    background-color: hsl(27, 91%, 34%);
    padding: 7px 14px;
    border-radius: 6px;
    color:white ;
}
</style>

<div class="pagination">

    {% if queryset.has_previous %}
        <a href="?page={{queryset.previous_page_number}}" class="pag-btn">Prev</a>
    {% endif %}

    {% for page in custom_range %}
        {% if page == queryset.number %}
            <a href="?page={{page}}" class="pag-btn-on">{{page}}</a>
        {%else%}
            <a href="?page={{page}}" class="pag-btn">{{page}}</a>
        {% endif %}
    {% endfor %}

    {% if queryset.has_next %}
        <a href="?page={{queryset.next_page_number}}" class="pag-btn">Next</a>
    {% endif %}

</div>
