.colored-section{
  background-color: #343a40;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding-bottom: 2px;
}
.nav-item{
  padding: 2px 18px;
  box-sizing: border-box;
  align-items: center;
}
.nav-link{
  font-size: 1.3rem;
  font-family: 'Montserrat-light';
}


/* Devloper */
h2{
  color: #ffff;
}
.hero-section {
    height: 40vh;
    display: flex;
    align-items: center;
    background-color: #343a40;
}

.text-center {
    text-align: center;
}
.hero-section__search > .form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    padding: 30px;
}

* {
    font-family: var(--font-base);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    color: inherit;
    font-size: inherit;
}
.input--text{
  width: 30rem;
  min-width: 24rem;
  /* padding: 1.2rem 1.5rem; */
  padding: 14px 40px;
  border-radius: 0.5rem;
  border: 2px solid #e5e7eb;
  transition: all 0.3s ease-in-out;
  background-color: #f8fafd;

}
.btn--sub{
    background-color: #51546e;
    color: #ffff;
}
.btn--lg  {
    /* font-size: 1.8rem; */
    font-size: 16px;
    padding: 14px 40px;
    /* padding: 1.2rem 4.5rem; */
}
.btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
}

/* profile Section */
.white-section{
  background-color: #fff;
}

#profile{
  padding: 40px 60px;
}
.profile-column{
  padding: 3% 2%;
}
/* .devlist .dev .dev__profile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
} */
.dev_profile{
  /* width: 100%;
  margin: 20px auto 20px auto; */
  text-align: left;
}
.avatar{
  width: 25%;
  float: left;
  margin-right: 30px;
}

/* Projects */
.projects > .hero-section {
    background: var(--color-sub-lighter);
    height: 30vh;
}
